/********** INIT **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** GENERAL **********/

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  color: hsl(292, 42%, 14%);
}

h1 {
  font-size: 6.4rem;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(275, 100%, 97%);
  background-image: url(./../assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 60rem;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: 2.4rem;
}

.hidden {
  display: none;
}

/********** ACOORDION STYLES **********/

.title {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin: 4rem 0 1rem 4rem;
}

.accordion {
  margin: 0 4rem 2rem 4rem;
  list-style: none;
}

.acc--element {
  border-bottom: 1px solid hsl(275, 100%, 97%);
  padding: 2.4rem 0;
}

.acc--element:last-child {
  border-bottom: none;
}

.acc--title {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
}

.acc--title:hover {
  cursor: pointer;
  color: hsla(292, 42%, 14%, 0.775);
  transition: all 0.3s;
}

.acc--content {
  font-size: 1.6rem;
  color: hsl(292, 16%, 49%);
  margin-top: 1.6rem;
  line-height: 1.5;
}

/********** MEDIA QUERIES **********/

@media (max-width: 500px) {
  html {
    font-size: 52.5%;
  }

  h1 {
    font-size: 4.2rem;
  }

  .page {
    background-image: url(./../assets/images/background-pattern-mobile.svg);
  }

  .acc--title h3 {
    max-width: 85%;
  }
}
